extends ../layout

include mixins/_actionDisplay

block content
  p
    strong= req.league.name
  p= req.league.description
  p
    if req.leagueAuth.isModerator
      a(href=`/lg/${league.id}/edit`) Edit
    if !req.leagueAuth.isMember
      a(href=`/lg/${league.id}/join`) Join
    if req.leagueAuth.isMember && !req.leagueAuth.isCreator
      a(href=`/lg/${league.id}/leave`) Leave
  p 
    strong Members
    ul
      each member in req.league.members
        li= member.username
          if req.league.moderators.some(mod => mod.id === member.id)
            span.moderator *
          if req.league.creator.id === member.id
            span.creator *
  p
    strong Feed
    ul
      each item in activity
        +actionDisplay(item)

  pre(style="font-size: 12px;")
    != helpers.dump(req.league)
    != helpers.dump(rosters)