extends ../layout

include mixins/_removeMember

block content
  p
    strong= league.name
  p= league.description
  p
    if user.isModerator
      a(href=`/league/${league.id}/edit`) Edit
    if !user.isMember
      a(href=`/league/${league.id}/join`) Join
    if user.isMember && league.creator.id != user.id
      +removeMember(league, user, user)
  p 
    strong Members
    ul
      each member in league.members
        li= member.username
          if league.moderators.some(mod => mod.id === member.id)
            span *
          if league.creator.equals(member.id)
            span *
  pre(style="margin-top: 60px; font-size: 12px;")
    != helpers.dump(league)