doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie-edge")
    title= `${title} | ${helpers.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico")
  body

    block header
      .top-bar
        .top-bar-left
          ul.menu.icons
            li
              a(href="/")
                i.fi-list
                strong #{helpers.siteName}
            each item in helpers.menu
              li
                a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'is-active' : '')) #{item.title}
        .top-bar-right
          ul.menu
            if user
              li
                a(href="/account/") Account
              li
                a(href="/account/logout") Logout
            else
              li 
                a(href="/account/register") Register
              li
                a(href="/account/login") Log In

    block messages
      if locals.flashes
        .row.align-right.flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              //- TODO make these dismissable
              .callout.small-12.medium-8.large-6(class=`${category}` data-closable="slide-out-right")
                != message
                button.close-button(aria-label="Dismiss Alert" type="button" data-close) 
                  span(aria-hidden="true") &times;

    .grid-container
      block content

    block scripts
      script(src="/dist/bundle.js")
      if helpers.liveReload
        script(src=helpers.liveReload)
