extends ../layout

include ../roster/mixins/_addPlayerForm

block content
  p
    != helpers.teamLogo(team.abbreviation)
  p= `${team.full_name}`
  p Players
    ul
      each player in players
        li
          a(href=`/nba/player/${player._id}`)
            img(src=helpers.playerImage(player._id) style="max-width: 70px;")
            != player.name
          if req.session.league
            +addPlayerForm(player)
  p Upcoming Games
    ul
      each game in games
        if game.away_id._id === team._id
          li= `@ ${game.home.full_name}`
        else
          li= `vs ${game.away.full_name}`