mixin playerListing(player = { _id: 0, name: '(empty)', team: 0, score: 0 })
  - const upcomingDays = upcomingGames.map((g, i) => { return helpers.moment().add(i, 'days')})
  .row.no-gutters.py-2
    .col-2
      img.rounded-circle(src=helpers.playerImage(player._id) style="max-width: 100%;")
    .col-8.d-flex.flex-column
      h4.m-0.font-weight-normal= player.name
      div
        if player._id
          table(style="width:100%;")
            tr
              each day in upcomingDays
                td.one-seventh.faded-2.text-center= day.format('ddd').toUpperCase()
            tr
              each day in upcomingGames
                td.px-1.one-seventh.text-center
                  each game in day
                    if game.home === player.team
                      img(src=helpers.teamImage(game.away))
                    if game.away === player.team
                      img(src=helpers.teamImage(game.home))
    .col-2
      h2.text-center.m-0= Math.round(player.score)