extends ../layout

block content
  .row.no-gutters.height-100
    .col.px-3.scroll-y
      .mx-auto(style="max-width: 600px;")
        .d-flex.py-3
          h4.my-0.mr-3= league.name
          .flex-grow.d-flex.px-3.justify-content-between.align-items-center
            a(href=`/lg/${league._id}${helpers.queryStringify(query)}`)
              span.fa.fa-user-circle
            a(href=`/lg/${league._id}/players${helpers.queryStringify(query)}`)
              span.fa.fa-user-plus
            a(href=`/lg/${league._id}/info${helpers.queryStringify(query)}`)
              span.fa.fa-info-circle
            if leagueAuth.isModerator
              a(href=`/lg/${league._id}/edit`)
                span.fa.fa-pencil-square
        block dynamic

    .col.max-height-100.d-flex.flex-column.justify-content-end.activity__container
      a#activity--collapse__toggler(href="#activity--collapse" data-toggle="collapse")
        .bg-dark.py-2.text-center Activity
      #activity--collapse.collapse.hide.height-100
        .d-flex.flex-column.height-100
          ul.nav.nav-fill
            - const categories = ["all", "chat", "rosters", "scores", "league"]
            each category in categories
              li.nav-item
                a.activity__filter.nav-link.text-capitalize(class=(category === "all" ? 'active' : ''), href="" data-category=category)= category
          
          #activity__feed.scroll-y.pl-2.py-3.flex-grow.height-100

          form#chat__form
            .form-group.my-0
              .pr-0
                input#chat__input.form-control(type="text" name="message" placeholder="Chat" autocomplete="off")