extends ../layout

block content
  - const formLeague = league || body || {}
  .row
    .col-md-8.col-lg-6.mx-auto.p-3.bg-light
      h2.text-center= formLeague._id ? 'Edit League' : 'Create League'
      form(method="POST")
        
        .form-group
          label(for="name") League Name
          input#name.form-control(type="text" name="name" value=formLeague.name)
        
        .form-group
          label(for="description") Description
          textarea#description.form-control(name="description")= formLeague.description
        
        .row.my-3
          .col-sm-3
            p Membership
          .col-sm-9
            .form-check.form-check-inline
              label.form-check-label
                input.form-check-input(type="checkbox" name="public" checked=formLeague.public)
                span Public
            if formLeague._id
              .form-check.form-check-inline
                label.form-check-label
                  input.form-check-input(type="checkbox" name="open" checked=formLeague.open) 
                  span Allow users to join
        
        if !formLeague._id
          .row.my-3
            .col-sm-3
              p League Type
            .col-sm-9
              .form-check.form-check-inline
                label.form-check-label
                  input.form-check-input(type="radio" name="leagueType" value="fantasy" checked=(formLeague.leagueType != "contest"))
                  span Fantasy
              .form-check.form-check-inline
                label.form-check-label
                  input.form-check-input(type="radio" name="leagueType" value="contest" checked=(formLeague.leagueType == "contest"))
                  span Contest
        
        if !formLeague._id || !formLeague.started
          .form-group.row.my-3
            label.col-sm-3.col-form-label(for="start") Start
            .col-sm-9
              - const dateInput = formLeague.start ? helpers.moment(formLeague.start) : helpers.moment().add(1, 'days')
              input#start.form-control(type="datetime-local" name="start" value=dateInput.format('YYYY-MM-DDTHH:mm'))
          
          .form-group.row.my-3
            label.col-sm-3.col-form-label(for="rosterSize") Roster Size
            .col-sm-9
              input#rosterSize.form-control(name="rosterSize" type="number" value=(formLeague.rosterSize || 5))

          h4.text-muted.text-center.my-4 Point Values
          .row
            each stat in helpers.pointValues
              .col-6.col-md-4
                .form-group.row
                  label.col-4.col-form-label.text-right.pr-2(for=`pointValues-${stat.attr}`)= stat.attr.toUpperCase()
                  - let statInput = formLeague.pointValues ? formLeague.pointValues[stat.attr] : 0
                  .col-8.pl-0
                    input.form-control(type="number" id=`pointValues-${stat.attr}` name=`pointValues[${stat.attr}]` value=statInput)
        
        .py-3
          button.btn.btn-block.btn-success(type="submit")= formLeague._id ? "Save →" : "Create →"
  
  if formLeague.members
    .row
      .col-md-8.col-lg-6.mx-auto.p-3.my-3.bg-light
        h2.text-center Members
        each member in formLeague.members
          .row.striped.p-3
            .col
              h5= member.username
            if leagueAuth.isCreator && user.id != member.id && league.moderators.some(mod => mod.id === member.id)
              .col
                form(method="POST" action=`/lg/${league._id}/moderators/remove`)
                  input(type="hidden" name="member" value=member._id)
                  button.btn.btn-danger(type="submit") Remove Mod
            if leagueAuth.isCreator && !league.moderators.some(mod => mod.id === member.id)
              .col
                form(method="POST" action=`/lg/${league._id}/moderators/add`)
                  input(type="hidden" name="member" value=member._id)
                  button.btn.btn-success(type="submit") Add Mod
            if leagueAuth.isModerator && !league.moderators.some(mod => mod.id === member.id)
              .col
                form(method="POST" action=`/lg/${league._id}/members/remove`)
                  input(type="hidden" name="member" value=member._id)
                  button.btn.btn-danger(type="submit") Remove