extends ../layout

block content
  if !league.started
    .count-down(data-start=league.start)= `${helpers.moment(league.start).toNow(true)} until AutoDraft`
  h3= req.league.name
  p= req.league.description
  p
    if req.leagueAuth.isModerator
      a(href=`/lg/${league.id}/edit`) Edit
    if !req.leagueAuth.isMember
      a(href=`/lg/${league.id}/join`) Join
    if req.leagueAuth.isMember && !req.leagueAuth.isCreator
      a(href=`/lg/${league.id}/leave`) Leave
  p 
    strong Members
    ul
      each member in req.league.members
        li= member.username
          if req.league.moderators.some(mod => mod.id === member.id)
            span.moderator *
          if req.league.creator.id === member.id
            span.creator *
  .medium-6
    strong Feed
    ul.feed
      each action in activity.reverse()
        li.action__item(class=action.category)
          strong= action.user.username + ' '
          p.action__content= action.message + ' '
          if action.category != 'message'
            i= helpers.moment(action.date).fromNow()
            
    if req.leagueAuth.isMember
      form(method="Post" action=`/lg/${league.id}/chat`)
        input(type="text" name="message")
        input(type="submit" value="Send")

  pre(style="font-size: 12px;")
    != helpers.dump(req.league)
    != helpers.dump(rosters)