h4.text-center.font-weight-normal.mb-2 Autodraft 
  span.countdown(data-start=league.start)= helpers.moment(league.start).calendar().toLowerCase()
.bg-light.mb-3
  .d-flex.flex-row.justify-content-center
    h5.my-0.py-2 My Draft List
  table.table.table-striped
    tbody
      - let playerCount = 1
      each player in draft.players
        tr
          td.align-middle.text-center= playerCount
          td.align-middle.text-center.py-0
            .d-flex.flex-column.text-bold
              form(method="POST" action=`/roster/move`)
                input(type="hidden" name="player" value=player._id)
                input(type="hidden" name="delta" value=-1)
                button.btn.btn-sm.btn-link.link-discreet(type="submit")
                  i.fa.fa-arrow-up
              form(method="POST" action=`/roster/move`)
                input(type="hidden" name="player" value=player._id)
                input(type="hidden" name="delta" value=1)
                button.btn.btn-sm.btn-link.link-discreet(type="submit")
                  i.fa.fa-arrow-down
          td.text-center.align-middle
            h3.my-0.font-weight-normal= Math.round(player.score)
          td.pb-0.align-bottom
            img(src=helpers.playerImage(player._id), style="max-width: 65px;")
          td.align-middle
            span.my-0.font-weight-normal= player.name
        - playerCount++