div(class=(league.members[0].score > 0 ? 'show-winning' : ''))
  each member in league.members 
    .member-card.bg-light.mb-3
      a.link-discreet(href=`#${member.username}-roster`, data-toggle="collapse", aria-expanded="false", aria-controls=`${member.username}-roster`)
        .member-overview.d-flex.flex-row.justify-content-start.align-items-center
          .p-3
            h2.my-0= member.score
          .py-3
            img.profile-picture.rounded-circle(src="/images/user-default.png")
          .p-3
            h3.font-weight-normal.my-0= member.username
      .collapse(id=`${member.username}-roster`)
        table.table.table-striped
          tbody
            each player in member.roster
              tr
                td.text-center.align-middle
                  h3.my-0.font-weight-normal= Math.round(player.score)
                td.pb-0.align-bottom
                  img(src=helpers.playerImage(player._id), style="max-width: 65px;")
                td.align-middle
                  h5.my-0.font-weight-normal= player.name
                if user && member.id === user.id
                  td.align-middle
                    a.danger(href="",
                      data-toggle="modal",
                      data-target="#dropPlayer",
                      data-playerName=player.name
                      data-playerid=player._id)
                      i.fa.fa-minus-circle.text-danger
            if member.roster.length < league.rosterSize
              - let emptySpots = league.rosterSize - member.roster.length
              while emptySpots
                tr
                  td.text-center.align-middle
                    h3.my-0.font-weight-normal.text-secondary 0
                  td.pb-0.align-bottom
                    img(src='/images/player-default.png', style="max-width: 65px;")
                  td.align-middle
                    p.my-0.font-weight-normal.text-secondary (empty)
                  td
                - emptySpots--

  .modal.fade#dropPlayer(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content.bg-light
        .modal-header
          h5.modal-title Drop Player
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body Player Name
        .modal-footer
          button.btn.btn-secondary(data-dismiss="modal") Cancel
          form(method="POST" action=`/roster/remove-player`)
            input(type="hidden" name="player" value="")
            button.btn.btn-danger(type="submit") Drop
