extends ../layout

block content
  each team in teams
    a(href=`/nba/players?team=${team._id}`, class=(activeTeam === team._id ? 'is-active' : ''), style="max-width: 25px;")
      img(src=`/images/teams/${team.abbreviation}.svg`)
  table
    thead
      tr
        th
        th
        th Fantasy Score
        each stat in helpers.pointValues
          th= stat.attr
    tbody
      - const takenPlayers = rosters.reduce((taken, roster) => taken.concat(roster.players), start = []);
      each player in players
        tr
          td
            if league && !takenPlayers.some(takenPlayer => takenPlayer._id === player._id)
              form(method="POST" action=`/roster/add-player`)
                input(type="hidden" name="player" value=player._id)
                input(type="submit" value="Add Player")
          td
            a(href=`/nba/player/${player._id}`)
              img(src=helpers.playerImage(player._id) style="max-width: 70px;")
              != player.name
          td= Math.round(player.score)
          each stat in helpers.pointValues
            - let val = Math.round(player.averages[stat.attr]) || ''
            td= val

  pre= helpers.dump(takenPlayers)